@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#container {
  font-family: 'Poppins', cursive;
}

img {
  max-width: 100%;
  height: auto;
  }

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 5;
  position: fixed;
  width: 99%;
  background-color: #2B7A78;
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#jv {
  position: relative;
  padding-left: 20px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  max-width: 20px;
  line-height: 20px;
  padding-top: 10px;
}

.nav-list {
  font-size: 1.5rem;
  padding-right: 2rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

#navbar a {
  color: white;
}

.nav-list a {
  display: block;
  font-size: 2.5rem;
  padding: 2rem;
}

#navbar a:hover {
  color: black;
}

a {
  text-decoration: none;
}

#welcome-section {
  display: flex;
  color: #FEFFFF;
  padding-bottom: 10rem;
  flex-direction: column;
  background-color: #3AAFA9;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#welcome-section h1 {
  font-size: 5rem;
  margin-bottom: 0px
}

#welcome-section p {
  color: #17252A;
  margin-top: -25px;
  font-size: 2.3rem;
  font-family: 'Dancing Script';
  font-weight: 500px;
}

#projects h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 50px;
}

.projects {
  transform: skewY(1deg);
  background-color: #2B787A;
  padding-top: 30px;
  margin-top: -40px;
}

#projects {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 100%;
  min-height: 500px;
  transform: skewY(-1deg);
}

@media (max-width: 28.75em) {
  .projects-section {
    font-size: 4rem;
  }
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.product-image {
  width: 100%;
  object-fit: cover;
  margin-bottom: -1.8rem;
  border-radius: 3px;
}

.project-tile {
  background: var(--main-gray);
}

.project-tile:hover {
    animation-name: projecthover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes projecthover {
    0% {
        width: 100%;
    }
    100% {
        width: 110%;
        margin: -25px;
        opacity: .8;
    }
}

.project-tile p {
  background: #3AAFA9;
  font-size: 1.3rem;
  border-radius: 3px;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 500;
  padding: 1rem 0.4rem;
}

.project-tile p:hover{
  background: #DEF2F1;
  color: black;
}

.project-tile a:hover{
  color: #17252A;
  animation-name: projecthover;
}

.project-tile  p {
  color: white;
}

#projects-grid a:visited{
  color: white;
}

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  padding-top: 50px;
}

#contact-section h2{
  font-size: 2rem;;
  font-weight: 600;
  color: #17252A;
}

#contact-section a{
  font-family: 'Poppins';
  color: #17252A;
  font-weight: 900;
  font-size: 1.2rem;
}

#contact-section a:visited{
    font-weight: 900;
    color: #17252A;
}